[Desktop Entry]
Type=Application
Exec=/usr/share/siduction/start.sh
Icon=sidu-manual
Name=siduction manual
Name[de]=siduction Handbuch
Terminal=false
Categories=System;Documentation;
