[Desktop Entry]
Type=Application
Exec=/usr/share/siduction/start.sh
Icon=/usr/share/icons/hicolor/scalable/apps/sidu-manual.svg
Name=siduction Handbuch
Terminal=false
Categories=System;
